
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    margin: auto;

}

.bg{
    background: url(./images/backgroud.jpg);
    font-family: 'Alata', sans-serif;
    width: 100%;
}
